<div class="container">
  <div class="content_section">
    <div class="title_box wow fadeInDown">
        <h2>
            Guest Book
        </h2>
    </div>
    <form action="/guestbook/list" method="POST">
      <fieldset class="guest_form_field">
        <div class="guest_form row">
          <% if user_signed_in? %>
            <div class="col-md-12">
                <h3>
                  <i class="fa fa-user"></i> <%= current_user.name %>
                </h3>
            </div>
          <% else %>
            <div class="col-md-3 col-xs-5">
              <input class="form-control" name="name" placeholder="Name" maxlength="20" required>
            </div>
            <div class="col-md-3 col-xs-5 form_password">
              <input class="form-control" name="password" placeholder="Password" type="password" maxlength="20" required>
            </div>
            <!-- <div class="col-md-3 col-xs-2 form_secret">
              <input type="checkbox" name="is_secret" value="true"> Secret
            </div>-->
          <% end %>
        </div>
        <div class="form-group">
          <textarea name="content" class="form-control guest_form_content" rows="6" placeholder="방명록을 남겨 주세요." required></textarea>
        </div>
        <button class="btn btn-default submit_button" type="submit">
          <i class="fa fa-check fa-lg"></i> Submit
        </button>
      </fieldset>
    </form>
    <ul class="list_default_style">
      <% @guest_post_list.each do |guest_post| %>
        <% if guest_post.is_secret %>
          <li class="list_secret_item">
            <div class="guest_date">
              <i class="fa fa-clock-o"></i> <%= guest_post.created_at.in_time_zone("Seoul").strftime("%Y.%m.%d %H:%M") %>
            </div>
            <h4 class="guest_secret_message">
              <i class="fa fa-question fa-2x"></i> 비밀 메시지 입니다.
            </h4>
          </li>
        <% else %>
          <li class="list_public_item">
            <h2 class="guest_name">
                <i class="fa fa-user"></i> <%= guest_post.name %>
            </h2>
            <div class="guest_date">
              <% if user_signed_in? && guest_post.user != nil%>
                <% if guest_post.user.id == current_user.id %>
                  <a href="#" data-toggle="modal" data-target="#modifyModal" data-id="<%=guest_post.id%>"
                    data-content="<%=guest_post.content%>">수정</a>
                  <a href="#">삭제</a>
                <% end %>
              <% elsif !user_signed_in? && guest_post.user == nil %>
                <a href="#" >수정</a>
                <a href="#">삭제</a>
              <% end %>
              <i class="fa fa-clock-o"></i> <%= guest_post.created_at.in_time_zone("Seoul").strftime("%Y.%m.%d %H:%M") %>
            </div>
            <h4 class="guest_content">
              <%= guest_post.content.gsub(/\r\n/, '<br/>').html_safe %>
            </h4>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div><!--content_section-->
</div><!--container-->

<!-- 삭제 모달 -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Delete</h4>
      </div>
      <form action="/guestbook/delete_guest_post" enctype="multipart/form-data" method="POST">
          <input id="delete_id" type="hidden" name="user_id">
          <div class="modal-body">
            <h3>
                정말 삭제하시겠습니까?
            </h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- 로그인 수정 모달 -->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Modify</h4>
      </div>
      <form action="/guestbook/modify_log_in" enctype="multipart/form-data" method="POST">
          <input id="modify_id" type="hidden" name="guest_post_id">
          <div class="modal-body">
             <div class="panel panel-default">
                <div class="panel-body">
                    <textarea class="form-control textarea_style" id="modify_content" name="guest_post_content"
                              required></textarea>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Modify</button>
          </div>
      </form>
    </div>
  </div>
</div>

<script>
$(function() {
    //navbar change color
    $("a#link_guest_book").attr("href", "#");
    $("a#link_guest_book").addClass("menu-selected");
});

$('#deleteModal').on('shown.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var modal = $(this);
  document.getElementById('delete_id').value = button.data('id');
});

$('#modifyModal').on('shown.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var modal = $(this);
  document.getElementById('modify_id').value = button.data('id');
  document.getElementById('modify_content').innerHTML = button.data('content');

  // document.getElementById('modify_major').src = button.data('major');
  // modal.find('.modify_id').val(id);
  // modal.find('.modify_name').val(name);
  // modal.find('.modify_image').val(image);
  // modal.find('.modify_content').val(content);
});

</script>
