<div class="container content">
  <div class="content_section">
    <div class="title_box wow fadeInDown">
        <h2>
            Guest Book
        </h2>
    </div>
    <form action="/guestbook/list" method="POST">
      <fieldset class="guest_form_field">
        <legend class="blind">방명록</legend>
        <div class="guest_form">
          <% if user_signed_in? %>
            <strong class="guest_name">
              <i class="fa fa-user"></i> <%= current_user.name %>
            </strong>
          <% else %>
            <label for="guest_name" class="blind">name</label>
            <input id="guest_name" class="form-control guest_input" name="name" placeholder="Name" maxlength="20" required>
            <label for="guest_pw" class="blind">password</label>
            <input id="guest_pw" class="form-control guest_input" name="password" placeholder="Password" type="password" maxlength="20" required>
            <!-- <div class="col-md-3 col-xs-2 form_secret">
              <input type="checkbox" name="is_secret" value="true"> Secret
            </div>-->
          <% end %>
        </div>
        <div class="form-group">
          <textarea name="content" class="form-control guest_form_content" rows="6" placeholder="방명록을 남겨 주세요." required></textarea>
        </div>
        <button class="btn btn-default submit_button" type="submit">
          <i class="fa fa-check fa-lg"></i> Submit
        </button>
      </fieldset>
    </form>
    <ul class="guest_post_list">
      <% @guest_post_list.each do |guest_post| %>
        <% if guest_post.is_secret %>
          <li class="list_secret_item">
            <div class="guest_date">
              <i class="fa fa-clock-o"></i> <%= guest_post.created_at.in_time_zone("Seoul").strftime("%Y.%m.%d %H:%M") %>
            </div>
            <p class="guest_secret_message">
              <i class="fa fa-question fa-2x"></i> 비밀 메시지 입니다.
            </p>
          </li>
        <% else %>
          <li class="list_public_item">
            <strong class="guest_name">
                <i class="fa fa-user"></i> <%= guest_post.name %>
            </strong>
            <div class="guest_date">
              <% if user_signed_in? && guest_post.user != nil%>
                <% if guest_post.user.id == current_user.id %>
                  <a href="#" data-toggle="modal" data-target="#modifyModalLogIn" data-id="<%=guest_post.id%>"
                    data-content="<%=guest_post.content%>">수정</a> |
                  <a href="#" data-toggle="modal" data-target="#deleteModalLogIn" data-id="<%=guest_post.id%>">삭제</a>
                <% end %>
              <% elsif !user_signed_in? && guest_post.user == nil %>
                <a href="#" data-toggle="modal" data-target="#modifyModalNotLogIn" data-id="<%=guest_post.id%>"
                  data-name="<%=guest_post.name%>" data-content="<%=guest_post.content%>"> 수정</a> |
                <a href="#" data-toggle="modal" data-target="#deleteModalNotLogIn" data-id="<%=guest_post.id%>">삭제</a>
              <% end %>
              <i class="fa fa-clock-o"></i> <%= guest_post.created_at.in_time_zone("Seoul").strftime("%Y.%m.%d %H:%M") %>
            </div>
            <p class="guest_content">
              <%= guest_post.content.gsub(/\r\n/, '<br/>').html_safe %>
            </p>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div class="page_nav_wrap">
      <%#= paginate @guest_post_list %>
    </div>
    <%#= page_entries_info @guest_post_list %>
  </div><!--content_section-->
</div><!--container-->

<!-- 로그인 수정 모달 -->
<div class="modal fade" id="modifyModalLogIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="exampleModalLabel">Modify</h3>
      </div>
      <form action="/guestbook/modify_log_in" enctype="multipart/form-data" method="POST">
          <input id="modify_id" type="hidden" name="guest_post_id">
          <div class="modal-body">
             <div class="panel panel-default">
                <div class="panel-body">
                  <label for="modify_content">내용</label>
                  <textarea class="form-control textarea_style" id="modify_content" name="guest_post_content"
                              required></textarea>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Modify</button>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- 로그아웃 수정 모달 -->
<div class="modal fade" id="modifyModalNotLogIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="exampleModalLabel">Modify</h3>
      </div>
      <form action="/guestbook/modify_not_log_in" enctype="multipart/form-data" method="POST">
        <input id="modify_id_not_log_in" type="hidden" name="guest_post_id">
        <div class="modal-body">
           <div class="panel panel-default">
              <div class="panel-body">
                <label for="modify_name">이름</label>
                <input type="text" name="guest_post_name" class="form-control" id="modify_name" required>
                <label for="modify_content">내용</label>
                <textarea class="form-control textarea_style" id="modify_content_not_log_in" name="guest_post_content"
                            required></textarea>
                <label for="modify_password">비밀번호 확인</label>
                <input type="password" name="guest_post_password" class="form-control" id="modify_password" required>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Modify</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 로그인 삭제 모달 -->
<div class="modal fade" id="deleteModalLogIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="exampleModalLabel">Delete</h3>
      </div>
      <form action="/guestbook/delete_log_in" enctype="multipart/form-data" method="POST">
          <input id="delete_id" type="hidden" name="guest_post_id">
          <div class="modal-body">
            <p class="modal_warn_message">
                정말 삭제하시겠습니까?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- 로그아웃 삭제 모달 -->
<div class="modal fade" id="deleteModalNotLogIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="exampleModalLabel">Delete</h3>
      </div>
      <form action="/guestbook/delete_not_log_in" enctype="multipart/form-data" method="POST">
          <input id="delete_id_not_log_in" type="hidden" name="guest_post_id">
          <div class="modal-body">
            <p class="modal_warn_message">
                정말 삭제하시겠습니까?
            </p>
            </hr>
            <label for="modify_password">비밀번호 확인</label>
            <input type="password" name="guest_post_password" class="form-control" id="delete_password" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
      </form>
    </div>
  </div>
</div>
<script>
$(function() {
    //navbar change color
    $("a#link_guest_book").attr("href", "#");
    $("a#link_guest_book").addClass("menu-selected");

    $('.page_nav_wrap').twbsPagination({
      totalPages: "<%=@page_count%>",
      visiblePages: 5,
      href: "?page={{number}}",
      first: "&lt;&lt;",
      prev: "&lt;",
      next: "&gt;",
      last: "&gt;&gt;"
    });
});

$('#modifyModalLogIn').on('shown.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var modal = $(this);
  $("#modify_id").val(button.data('id'));
  $("#modify_content").html(button.data('content'));
});

$('#modifyModalNotLogIn').on('shown.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var modal = $(this);
  $("#modify_id_not_log_in").val(button.data('id'));
  $("#modify_name").val(button.data('name'));
  $("#modify_content_not_log_in").html(button.data('content'));
});

$('#deleteModalLogIn').on('shown.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var modal = $(this);
  $("#delete_id").val(button.data('id'));
});

$('#deleteModalNotLogIn').on('shown.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var modal = $(this);
  $("#delete_id_not_log_in").val(button.data('id'));
});
</script>
