<div class="container content">
  <div class="content_section">
    <div class="title_box wow fadeInDown">
      <h2>
        Board
      </h2>
    </div>
    <!-- board -->
    <ul class="post_list">
      <% @post_list.each do |post| %>
        <li class="post_item">
          <em class="post_num"># <%= post.id %></em>
          <div class="post_content">
            <strong class="post_title"><a href="/board/detail/<%=post.id%>"><%= post.title %></a></strong>
            <span class="post_writer">
              <i class="fa fa-user"></i> admin
            </span>
            <span class=" post_date">
              <i class="fa fa-clock-o"></i> <%= post.created_at.in_time_zone("Seoul").strftime("%Y.%m.%d %H:%M") %>
            </span>
            <span class="post_hits">조회 <%= post.hits %></span>
          </div>
        </li>
      <%end%>
    </ul>
    <a class="btn btn-default right_button wow fadeIn" href="check_write_authority" role="button">
      <i class="fa fa-pencil fa-lg"></i> write
    </a>
    <% if flash[:alert] %>
       <div class="alert alert-danger flash_message" role="alert"><%= flash[:alert] %></div>
    <% end %>
  </div><!--content_section-->
</div><!--container-->
<script>
$(function() {
    $("a#link_board").attr("href", "#");
    $("a#link_board").addClass("menu-selected");

    // flash_message
    // $('.flash_message').fadeOut(1000).delay(1500).next().fadeIn(1000);
    // $('.flash_message').delay(2000).fadeOut(1500);
    $('.flash_message').delay(2000).fadeOut(700);

});
</script>
