<div class="container">
  <div class="content_section">
    <div class="title_box wow fadeInDown">
        <h2>
            Board
        </h2>
        <% if user_signed_in? && current_user.role == "admin" %>
          <a class="btn btn-default write_button wow fadeIn" href="/board/write_post" role="button">
            <i class="fa fa-pencil fa-lg"></i> write
          </a>
        <% end %>
    </div>
    <!-- board -->
    <table class="table">
      <tbody>
        <% @post_list.each do |post| %>
        <tr>
          <th class="table-number">
            <h5># <%= post.id %></h5>
          </th>
          <th class="table-content">
            <a href="/board/detail/<%=post.id%>">
              <h5 class="table-content-title"><%= post.title %></h5>
            </a>
            <span><i class="fa fa-user"></i> admin</span>
            <span class="text_bar"></span>
            <span>
              <i class="fa fa-clock-o"></i> <%= post.created_at.in_time_zone("Seoul").strftime("%Y.%m.%d %H:%M") %>
            </span>
            <span class="floatright">
              조회 <%= post.hits %>
            </span>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div><!--content_section-->
</div><!--container-->

<script>
$(function() {
    $("a#link_board").attr("href", "#");
    $("a#link_board").addClass("menu-selected");
});
</script>
