<div class="container">
  <div class="content_section">
    <div class="title_box wow fadeInDown">
        <h2>
            Log in
        </h2>
        <!-- <a class="btn btn-default write_button wow fadeIn" href="/board/write_post" role="button">
          <i class="fa fa-pencil fa-lg"></i> write
        </a> -->
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <button class="btn btn-default" type="submit">
          <i class="fa fa-sign-in fa-lg"></i> Log in
          <!-- <%=f.submit "Log in", class: "btn btn-default"%> -->
        </button>
      </div>
    <% end %>
    <!-- <%= render "devise/shared/links" %> -->
  </div>
</div>
