<!DOCTYPE html>
<html>
<head>
    <title>LikeLion_Kookmin</title>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag 'application'%>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <%#= render partial: "layouts/navbar" %>
  <div id="wrapper">
    <div class="info_section">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
      <%= render partial: "layouts/sidebar" %>
    </div>
    <!-- <div class="overlay"></div> -->
     <!-- Page Content -->
     <div id="page-content-wrapper">
       <%= yield %>
       <div class="area_footer">
         <!-- <div class="container"> -->
           <div class="footer_logo wow fadeInLeft">
             <h2>LikeLion_Kookmin</h2>
           </div>
           <div class="footer_link wow fadeInRight">
             <h6>
               Choijaewoong
               <span>&nbsp;|&nbsp;</span>
               <a href="mailto:jwchoi0129@gmail.com">jwchoi0129@gmail.com</a>
               <span>&nbsp;|&nbsp;</span>
               010-4618-7334
             </h6>
             <h6>Copyright©LikeLion_Kookmin. All rights reserved.</h6>
           </div>
         <!-- </div> -->
       </div>
     </div>
     <!-- /#page-content-wrapper -->
    </div>
  <!-- /#wrapper -->
  <script src="/assets/sidebar.js"></script>
  <script>
      new WOW().init();
  </script>
</body>
</html>
