<!DOCTYPE html>
<html>
<head>
    <title>LikeLion_Kookmin</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag 'application'%>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <%#= render partial: "layouts/navbar" %>
  <div id="wrapper">
    <img class="background_top" src="/assets/likelionkookmin_cover1.png">
    <img class="background_bottom" src="/assets/likelionkookmin_cover2.png">
    <div class="info_section">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
      <div class="area_logo">
        <img width="100%" height="100%" src="/assets/likelionkookmin_bi.png">
      </div>
      <%= render partial: "layouts/sidebar" %>
    </div>
    <!-- <div class="overlay"></div> -->
     <!-- Page Content -->
     <div id="page-content-wrapper">
       <div class="area_header"></div>
       <%= yield %>
       <div class="area_footer">
         <!-- <div class="footer_logo wow fadeInLeft">
           <img width="100%" height="100%" src="/assets/likelionkookmin.jpg">
         </div> -->
         <div class="footer_link wow fadeInRight">
           <h6>
             choijaewoong
             <span>&nbsp;|&nbsp;</span>
             <a href="mailto:kookmin@likelion.net">kookmin@likelion.net</a>
             <span>&nbsp;|&nbsp;</span>
             010.4618.7334
           </h6>
           <h6>Copyright©LikeLion_Kookmin. All rights reserved.</h6>
         </div>
       </div>
     </div>
     <!-- /#page-content-wrapper -->
    </div>
  <!-- /#wrapper -->
  <script src="/assets/sidebar.js"></script>
  <script>
      new WOW().init();
  </script>
</body>
</html>
