<!DOCTYPE html>
<html>
<head>
    <title>LikeLion_Kookmin</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/style.scss">
    <!-- <script type="text/javascript" src="/assets/application.js"></script> -->
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <img class="background_top" alt="background top image" src="/assets/likelionkookmin_cover1.png">
    <img class="background_bottom" alt="background bottom image" src="/assets/likelionkookmin_cover2.png">
    <!-- sidebar -->
    <%= render partial: "layouts/sidebar" %>
     <div id="page-content-wrapper">
       <div class="area_header">
         <div class="header_box wow fadeInRight">
           <div class="header_logo">
             <img src="/assets/likelionkookmin_logo.png" alt="likelion kookmin" width="250" height="50">
           </div>
           <div class="header_private_menu">
             <% if user_signed_in?%>
               <span class="user_email"><%= current_user.email%></span>
               |
               <a href="/users/sign_out">로그아웃</a>
             <% else %>
               <a href="/users/sign_in">로그인</a>
               |
               <a href="/users/sign_up">회원가입</a>
             <% end %>
           </div>
         </div>
       </div>
       <%= yield %>
       <div class="area_footer">
         <div class="footer wow fadeInRight">
           <address class="footer_info">
             <strong class="admin_info">Choijaewoong</strong>
             <span>&nbsp;|&nbsp;</span>
             <a href="mailto:kookmin@likelion.net"><strong class="admin_link">kookmin@likelion.net</strong></a>
             <span>&nbsp;|&nbsp;</span>
             <strong class="admin_info">010.4618.7334</strong>
           </address>
           <p class="footer_copy">Copyright©LikeLion_Kookmin. All rights reserved.</p>
         </div>
       </div>
     </div>
    </div>
  <script src="/assets/sidebar.js"></script>
  <script>
      new WOW().init();
  </script>
</body>
</html>
